body {
    font-family: sans-serif;
}

h1,
footer {
    text-align: center;
}

header img {
    width: 2000px;
    max-width: 100%;
}

#experience-form textarea {
    width: 100%;
}

.container {
    max-width: 960px;
    margin: 0 auto 50px auto;
}

.story-row {
    display: flex;
    margin-bottom: 10px;
}

.story-col {
    padding: 5px;
}

.story-col img {
    width: 450px;
    height: 450px;
}

#news {
    display: flex;
}

nav a {
    text-decoration: none;
    font-weight: bold;
}

nav ul {
    background-color: rgb(51, 113, 248);
    margin: 0;
    padding: 0;
    text-align: left;
}

nav li {
    list-style-type: none;

    display: inline-block;
    padding: 10px;
}

nav a:link {
    color: #121212;
}


nav a:visited {
    color: #121212;
}

/* mouse over link */
nav a:hover {
    color: white;
}

/* selected link */
nav a:active {
    color: white;
}